.box {
  min-height: 70vh;
  min-width: 80vw;
  box-shadow: 0 0 3px rgba(255, 255, 255, 1);
  background: white;
  font-family: sans-serif;
  display: flex;

  @include respond(phone) {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  @include respond(tab-port) {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  @include respond(big-desktop) {
    max-height: 80vh;
    width: 80vw;
    overflow: hidden;
  }

  &__text {
    width: 50%;
    height: 100%;
    padding: 2rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(phone) {
      width: 100%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
    .box__heading {
      width: 100%;
      height: 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;

      &--main {
        font-size: 2rem;
      }

      &--sub {
        font-size: 1.5rem;
      }
    }

    .box__form {
      position: relative;
      width: 100%;
      height: 90%;
      margin-top: 1.5rem;

      form {
        width: 100%;

        .form__field {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          @include respond(big-desktop) {
            margin-top: 1.5rem;
          }

          &:nth-of-type(3) input {
            color: crimson;
          }

          &:nth-of-type(4) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            margin: 1rem 0;

            button {
              width: 10rem;
              border-radius: 30px;
              color: white;
              font-size: 1rem;
              background-color: crimson;
              padding: 1rem;
              border: none;
              outline: none;
              text-transform: uppercase;
              font-weight: 400;
            }

            p {
              color: gray;
              border-bottom: 2px solid crimson;
              width: max-content;
              padding: .2rem;
            }
          }

          &:nth-of-type(5) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
              color: black;
              font-size: 1.5rem;
              font-weight: 600;
              margin-left: 1rem;

            }

            .icons {
              width: 30%;
              padding: 1rem 0;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: transparent;
                border: 2px solid black;
                padding: 1rem;
                font-size: 1.3rem;
                color: black;
                height: 2.5rem;
                width: 2.5rem;
              }
            }
          }

          input {
            width: 100%;
            height: max-content;
            padding: 1rem;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            outline: none;
            transition: all .2s;
            color: black;


            &:focus {
              border-bottom: 2.5px solid gainsboro;
            }

            &::placeholder {
              width: 100%;
              height: max-content;
              color: black;
              font-weight: bold;
              font-size: 0.9rem;
            }
          }

          label {
            margin-top: 0.5rem;
            padding: 0.5rem 0;
            font-size: 0.7rem;
            text-transform: uppercase;
            color: grey;
            font-weight: bold;
            letter-spacing: 1px;
          }

          .icon-chevron-sign-down {
            position: absolute;
            top: 4rem;
            right: 5%;
            font-size: 2rem;
            //color: green;
          }
        }
      }
    }
  }

  &__img {
    width: 50%;
    height: 100%;
    @include respond(phone) {
      width: 100%;
    }
    @include respond(tab-port) {
      width: 100%;
      img {
        object-fit: contain;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}

